<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Radley&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1927c4eb85.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <title>odilas profile</title>
</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-light nav-home">
                <a class="navbar-brand"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    
                <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                    <div class="navbutton navbar-nav">
                        {% if user.is_authenticated %}
                        <p id= username> Hi, {{ user.username }}  </p>
                        <br>
                        <a class="nav-item nav-link" style = "color: white;" href="{% url 'accounts:logout_url' %}">logout</a>
                        {% else %}
                        <a class="nav-item nav-link active" style="color : rgb(248, 226, 165);" ref="{% url 'homeprof:books' %}">books</a>
                        {% endif %}
                        <a class="nav-item nav-link" style="color : white;" href="{% url 'homeprof:profile' %}">profile</a>
                    </div>
                </div>
            </nav>

            {% if user.is_authenticated %}
     
   
    <div class="semuamua">
        <br>
        <br>
            <div class="search">
                <br>
                <h1 id="searchTitle">Book Catalogue</h1>
                <div class="searchBox">
                    <input class="search-txt" type="search" id="searchField" name="" value="" placeholder=" Type to search">
                    <button class="search-btn" type="button" name="button"><i class="fas fa-search"></i></button>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <table class="table"></table>
            </div>
    </div>
    
    {% else %}
    <a href="{% url 'accounts:login_url' %}">Login</a>
    <a href="{% url 'accounts:register_url' %}">Register</a>
    {% endif %}

          
<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script src="{% static 'js/books.js' static %}"></script>
            
</body>
</html>