<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Radley&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1927c4eb85.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>odilas profile</title>
</head>
<body class="light">
        <nav class="navbar navbar-expand-lg navbar-light nav-home">
                <a class="navbar-brand"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    
                <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                    <div class="navbutton navbar-nav">
                        {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'homeprof:books' %}">books</a>
                        {% else %}
                        <a class="nav-item nav-link" href="{% url 'accounts:index' %}">login</a>
                        {% endif %}
                        <a class="nav-item nav-link active" style="color :  rgb(187, 142, 17);" href="{% url 'homeprof:profile' %}">profile</a>
                    </div>
                </div>
            </nav>

    <p id="greeting">hey! it's odi</p>
    <button class="btn nightbutton"><i class="far fa-moon"></i></button>

    <br>
    <br>
    <br>
                    <div class="box">
                            <div class="about">
                                    <button class="accordion">activities</button>
                                    <div class="panel one">
                                        <p>bingewatching kalo ga ada tugas & kuis</p>
                                    </div>
                                    <br>
                                    <button class="accordion">experiences</button>
                                    <div class="panel two">
                                        <p>Staff Departemen Seni Budaya BEM Fasilkom UI 2019</p>
                                        <p>Staff Fundraising Compfest 11</p>
                                        <p>Staff Dekor CGT </p>
                                    </div>
                                    <br>
                                    <button class="accordion">achievements</button>
                                    <div class="panel three">
                                        <p>belom ada :(</p>
                                    </div>
                                </div>    
                    </div>

            
 
                       

            


    


   




    <script src="{% static 'js/accordion.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
</body>
</html>
