body{
    background : url("../images/neww.jpg") no-repeat center;
    background-size:110%;
    background-attachment:fixed;
}

.oops{
    font-family: Radley;
    font-size : 4vw; 
    text-align: center;
    color : white;
    position: inline-block;
    margin-top: 15%;
    
}

.choose{
    font-family: Radley;
    font-size : 2vw; 
    text-align: center;
    color : white;
    position : inline-block;
    padding-right:10px;
    padding-left:10px;
}

.choose:hover{
    color: #AB723D;
    text-decoration: none;
}

.logreg{
        width : 20%; 
        height:10%;
        margin:auto;
        align-content: center;
        align-items: center;
        text-align: center;
        display: inline-block;
        position : absolute;
        left: 50%;
        top : 50%;
        transform: translate(-50%, -50%);
}
#log{
    margin-top:10%;
}

.login{
        width : 40%; 
        height:30%;
        margin:auto;
        margin-top: 15%;
        align-content: center;
        align-items: center;
        text-align: center;
        display: inline-block;
        background-color: #F7EFE4;
        position : absolute;
        border-radius: 25px;
        left: 50%;
        top : 20%;
        transform: translate(-50%, -50%);
        padding-bottom: 5%;
        box-shadow: 15px 30px 15px -15px rgba(116, 116, 116, 0.1);
}

#reg{
    width : 60%; 
    height:60%; 
}

label{
    font-family: Radley;
    font-family:1.2vw;
}

input{
    background: white;
    height: 30px;
    border-radius: 40px;
    padding: 10px;
}

.logbut{
    background-color:#AB723D ;
    border-radius: 50%;
    padding:3%;
    font-family: Radley;
    color:white;
}

.helptext, li{
    font-family:Radley;
    color:grey;
    font-size:1vw;
}

#create{
    margin-top:2%;
}