body{
    background : url("../images/neww.jpg") no-repeat center;
    background-size:110%;
    background-attachment:fixed;
}

#pageTitle{
    font-family: Radley;
    font-size : 4vw; 
    text-align: center;
    color : white;
    position : block;
}

#searchTitle{
    font-family: Radley;
    font-size : 4vw; 
    text-align: center;
}

.nav-link .active{
    font-family:Radley;
    color : white;
}

.nav-link {
    font-family : Radley;
    color : white;
}

.search{
        overflow-y: auto;
        width : 85%; 
        height:auto;
        min-height :30%;
        max-height : 75%;
        margin:auto;
        margin-top: 10%;
        align-content: center;
        align-items: center;
        text-align: center;
        display: inline-block;
        background-color: #F7EFE4;
        position : absolute;
        border-radius: 25px;
        left: 50%;
        top : 30%;
        transform: translate(-50%, -50%);
        padding-bottom: 5%;
        box-shadow: 15px 30px 15px -15px rgba(116, 116, 116, 0.1);
}

.searchBox{
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform:  translate(-50%,50%);
    background: white;
    height: 60px;
    border-radius: 40px;
    padding: 10px;
}

.searchBox:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .search-btn {
  background: white;
  color : #AB723D;
}

.search-btn {
    color: #AB723D;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-txt {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0px;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .search-txt {
    width: 150px;
    padding: 0 6px;
}
}

.table{
    top : 60%;
    position : relative;
    padding : 2%;
    font-family : Radley;
}

a{
    color:white;
}

#username{
    font-family: Radley;
    font-size:1vw;
    color: rgb(248, 226, 165);
    padding-top: 9px;
}
