.light{
    background-color : #F7EFE4
}

#greeting{
    font-family : Radley;
    font-size: 4vw; 
    text-align: center;
}

.light .nav-item{
    font-family:Radley;
}

.light .accordion {
    border: none;
    background-color: white;
    cursor: pointer;
    font-family: Radlye;
    font-weight: bold;
    font-size: 2vw;
    color: #333333;
    margin: 10px;
    margin-bottom: 0%;
    margin-top:2%;
    padding: 5px 0px;
    width: 30vw;
    border-bottom: 2px solid #385565;
}

.light .panel {
    padding: 5px 0px;
    margin: auto;
    margin-top: 0%;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 30vw;
    font-family: Radley;
    font-size:1.25vw;
    color: black;
    text-align: center;
}

.light .nightbutton{
    position:relative;
    margin-left:49%;
    margin-right:50%;
    top : 20%;
    background-color: #385565 ;
    border-radius: 50%;
    cursor : pointer;
}

.light .fa-moon{
    color:white;
}

.light .box{
    overflow-y: auto;
    width:65%; 
    height:auto; 
    max-height:70%; 
    margin:auto;
    align-content: center;
    align-items: center;
    text-align: center;
    display: inline-block;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    padding-bottom: 5%;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
}


/* NIGHT MODE  */

.night{
    background-color: #385565;
}

.night #greeting{
    color : white;
}

.night .nightbutton{
    position:relative;
    margin-left:49%;
    margin-right:50%;
    top : 20%;
    background-color:#F7EFE4 ;
    border-radius: 50%;
    cursor : pointer;
}

.night .box{
    overflow-y: auto;
    width:65%; 
    height:auto; 
    max-height:70%; 
    align-content: center;
    align-items: center;
    text-align: center;
    display: inline-block;
    background-color: #AB723D;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    padding-bottom: 5%;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
}

.night .navbar-nav .nav-item{
    font-family : Radley;
    color:white;
}

.night .accordion {
    border: none;
    background-color:  #AB723D;
    cursor: pointer;
    font-family: Radley;
    font-weight: bold;
    font-size: 2vw;
    color: #333333;
    margin: 10px;
    margin-bottom: 0%;
    margin-top:2%;
    padding: 5px 0px;
    width: 30vw;
    border-bottom : 2px solid #FADEB9;
}

.night .panel {
    padding: 5px 0px;
    margin: auto;
    margin-top: 0%;
    background-color:  #AB723D;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 30vw;
    font-family: Radley;
    color: white;
    font-size:1.25vw;
}

.light #username{
    font-family: Radley;
    font-size:1vw;
    color: rgb(248, 226, 165);
    padding-top: 9px;
}

.night #username{
    font-family: Radley;
    font-size:1vw;
    color: rgb(248, 226, 165);
    padding-top: 9px;
}