{% load static %}
<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Radley&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1927c4eb85.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static 'css/logg.css' %}">
    <title>Login</title>
</head>
<body>
       
        <h1 class="oops"> Oops! You have to log in first</h1>
        <br>
        {% if user.is_authenticated %}
            <a href="{% url 'accounts:logout_url' %}">Logout</a>
            {% else %}
            <div class="logreg">
                <a class="choose" href="{% url 'accounts:login_url' %}">LogIn</a>
                <a class="choose" href="{% url 'accounts:register_url' %}">Register</a>
            </div> 
        {% endif %}
   
</body>
</html>